html {
  height: 100%;
}
body {
  background-color: #e4a924;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper h1 {
  color: tomato;
  font-size: 5rem;
  margin-left: 5rem;
}
.container {
  border-radius: 60px;
  width: 400px;
  height: 70px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px 4px rgba(43, 88, 118, 0.2);
  overflow: hidden;
  flex-direction: column;
  margin-left: 29rem;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ullist {
  width: 100%;
}

.button {
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 15px;
  top: 12px;
  cursor: pointer;
  transition: all 0.6s ease;
  transform: rotate(0deg);
}
.button-rotate {
  transform: rotate(45deg);
}

input {
  border: 0;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 70px;
  top: 12px;
  font-size: 16px;
  padding: 13px;
  color: white;
  border-radius: 60px;
  transform-origin: -50px 0px;
  width: 285px;
  transition: all 0.6s ease;
  outline: 0;
}

.rotate-input {
  transform: rotate(-90deg);
  transition: all 0.6s ease;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.icon-b {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin-left: 22px;
  cursor: pointer;
}

.tools {
  position: absolute;
  left: 52px;
  top: 11px;
  transform-origin: -30px 20px;
  transform: rotate(90deg);
  transition: all 0.6s ease;
}

.tools-rotate {
  transform: rotate(0deg);
  transition: all 0.6s ease;
}
.all--btn {
  background-color: orange;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  outline: 0;
  cursor: pointer;
}
.active--btn {
  background-color: green;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  outline: 0;
  cursor: pointer;
}
.complete--btn {
  background-color: red;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  outline: 0;
  cursor: pointer;
}
